body {
    background-color: beige;
    background-repeat: no-repeat;
}

.Aef{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 75px;
    color: indigo;
    text-shadow: 2px 2px 5px #e6fc69;
}

body {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 520;
    font-style: normal;
    line-height: 50px;
  }

.King {
    text-transform: uppercase;
    font-size: 35px;
    line-height: 45px;
}

.pin {
    text-transform: uppercase;
    font-size: 35px;
    line-height: 60px;
    color: crimson;
}

.ppin {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    color: crimson;
}

.Fai{
    text-transform: uppercase;
    font-size: 35px;
    line-height: 75px;
    color: indigo;
    text-shadow: 2px 2px 5px #e6fc69;
}
